{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Profil</title>
    <link rel="stylesheet" href="{% static 'menu_bar.css' %}">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a>
        <div class="search-container">
          <form action="{% url 'search_results' %}" method="get">
            <input type="text" placeholder="Wyszukaj prowadzącego.." name="q">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        {% if user.is_authenticated %}
        <form action="{% url 'home' %}">
          <button>Profil</button>
        </form>
        {% else %}
        <form action="{% url 'login' %}">
          <button>Logowanie</button>
        </form>
        {% endif %}
      </nav>
    </header>



      <div class="central-container">
        <img src="{% static 'images/avatar.png' %}">
        <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
        <form action="{% url 'logout' %}">
          <button>WYLOGUJ</button>
        </form>
        <h2>Lista dostępnych prac</h2>

          {% for ListaPrac in object_list %}
            <div class="project-container">

              <div class="topic-section">
                <h3>Temat {{ forloop.counter }}</h3>
                <h4>{{ ListaPrac.termin_praca }} 
                    {% if ListaPrac.uczen_praca == None %}
                    <b>Nieprzypisano</b>
                    {% else %}
                      {{ListaPrac.uczen_praca}} 
                    {% endif %}
                <form action="{% url 'home' %}" method="get">
                  <button type="submit" name="{{ ListaPrac.id }}"><i class="fa fa-cog"></i></button>
                </form>
                </h4>
              </div>

                <h4>{{ ListaPrac.temat_praca }}</h4>

            </div>
          {% endfor %}

        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            Temat: <br/>
            <textarea cols="35" rows="8" name="temat_praca">
            </textarea><br/>
          <button id="add_btn" type="submit">Dodaj pracę</button>
        </form>
      </div>
    


    <footer>
      <p>Copyright &copy; 2020 - Fabryka Inżyniera</p>
    </footer>
  </body>
</html>